body,
html {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #6d28d9, #db2777);
    padding: 1rem;
    box-sizing: border-box;
}

.card {
    padding: 2.5rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    max-width: 32rem;
    width: 100%;
    box-sizing: border-box;
}

.title {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #374151;
}

.url-form>*+* {
    margin-top: 1.5rem;
}

.input-field {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    font-size: 1rem;
    box-sizing: border-box;
}

.input-field:focus {
    outline: 2px solid #3b82f6;
    border-color: transparent;
}

.btn {
    display: inline-block;
    width: 100%;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #3b82f6;
    color: white;
}

.btn-primary:hover {
    background-color: #2fdc26;
}

.links-container {
    margin-top: 1.5rem;
    text-align: center;
    width: 100%;
    max-width: 32rem;
}

.btn-secondary,
.btn-secondary:visited {
    background-color: #513bf6;
    color: #ffffff;
    text-decoration: none;
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: #2fdc26;
    color: #ffffff;
    text-decoration: none;
}

/* Toast Notification */
.toast-notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #41f63b;
    /* Blue background */
    color: rgb(22, 20, 20);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-weight: bold;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -20px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}